<div>
  <input
    [(ngModel)]="searchText"
    placeholder="Search for artist"
    class="search-input"
  />
  <span
    *ngIf="searchText.length > 0"
    (click)="clearFilter()"
    class="temp-close-search-input"
    >X</span
  >
</div>
<div *ngIf="loading">Loading...</div>
<div *ngIf="error">Error :(</div>
<div *ngIf="artistList">
  <div
    *ngFor="let artist of artistList | filter: searchText:filterOn"
    class="list-container"
  >
    <div class="list-item">
      <img src="{{ artist.picture }}" class="thumbnail" />
      <div class="section-container">
        <p class="label">ARTIST:</p>
        <p class="text">{{ artist.name }}</p>
      </div>
      <div class="section-container">
        <p class="label">PRICE:</p>
        <p class="text">{{ artist.price }} SEK</p>
      </div>
      <div class="section-container">
        <p class="label">SAMPLE:</p>
        <a href="{{ artist.video }}" target="_blank">Video</a>
      </div>
    </div>
  </div>
</div>
