.search-input {
  width: 150px;
  height: 30px;
  border: 1px solid rgba(143, 142, 142, 0.6);
  border-radius: 4px;
  padding-left: 4px;

  &:focus {
    outline-color: rgba(30, 75, 224, 0.8);
  }
}

.temp-close-search-input {
  color: red;

  &:hover {
    cursor: pointer;
  }
}

.list-container {
  box-shadow: 0px 7px 16px 0px rgb(190 187 187 / 30%);
}

.list-container:nth-of-type(odd) {
  background-color: rgb(243, 243, 243);
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  flex-grow: 1;
  margin-top: 16px;

  .thumbnail {
    width: 85px;
    height: 85px;
    box-shadow: 0px 0px 7px 0px grey;
  }

  .section-container {
    display: flex;
    justify-content: center;
  }
  .info-container {
    width: 100px;
    margin-left: 16px;
  }
  .info-container:nth-of-type(3) {
    width: unset;
  }
}

.label {
  color: rgb(112, 112, 112);
  font-size: 12px;
  font-weight: 400;
}

.text {
  font-weight: 500;
  color: rgb(90, 90, 90);
  font-size: 16px;
}

.separator {
  border-width: 0px;
  border-bottom-width: 2px;
  border-style: solid;
  border-bottom-color: rgba(143, 142, 142, 0.4);
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-primary {
  background-color: white;
  border-width: 1px;
  border-radius: 16px;
  color: #007bff;
  border-color: rgba(143, 142, 142, 0.4);
  width: 100px;
  padding: 4px 4px;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0px 0px 2px 0px grey;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgb(0, 60, 255);
  }
  &:focus {
    outline: none;
    border-color: rgba(30, 75, 224, 0.8);
  }
}

.h-100 {
  height: 100%;
}

.anchor-as-text {
  color: rgb(90, 90, 90);
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
}
